header {
  text-align: center;
}

html, body {
  margin: 0;
  padding: 50px;
  background-color: silver;
}

.container {
  padding: 20px;
  background-color: white;
}
.container .guide {
  text-align: center;
  cursor: pointer;
}
.container a, .container .mode {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  color: black;
  text-align: middle;
  font-weight: normal;
}
.container .scout {
  color: red;
}
.container .display_total {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.container .display_total hr {
  border-top: 1px solid gray;
}

article {
  border: solid 1px black;
  position: relative;
  background-color: white;
  color: black;
}

iframe {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

#count {
  text-align: center;
}

#comment {
  position: relative;
  display: inline-block;
  color: gray;
  font-size: 18px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 35px;
}

.pic {
  height: 20px;
  width: 20px;
  border-radius: 80%;
}

.display_comment {
  display: block;
  height: 430px;
  overflow: scroll;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: center;
  border-top: 1px solid #DCDCDC;
}

footer {
  text-align: center;
}
